.u-section-1 .u-sheet-1 {
  min-height: 867px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -4px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 638px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: -20px 587px 0 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 318px;
  margin: 18px 27px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 801px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 117px 30px 30px;
}

.u-section-1 .u-custom-html-2 {
  min-height: 221px;
  height: auto;
  margin: 8px -25px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 526px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 363px;
    margin-right: 464px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-top: -379px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 660px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 328px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 128px;
  }
}